%p#notice= notice

%p
  %b Name:
  = @town.name
%p
  %b Zipcode:
  = @town.zipcode
%p
  %b Latitude:
  = @town.latitude
%p
  %b Longitude:
  = @town.longitude

%p
  %b Météo :
  = @town.forecast.try(:[], 'summary')
  %br
  %b Température :
  = "#{@town.forecast.try(:[], 'temperature')}°C"
  %br
  %b Humidité :
  = "#{@town.forecast.try(:[], 'humidity').to_f * 100} %"

= link_to 'Edit', edit_town_path(@town)
\|
= link_to 'Back', towns_path
