!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }
    %title Projet
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'

    - if notice
      .container
        .alert.alert-success
          = notice
          = button_tag class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' do
            %span{'aria-hidden': true} &times;
    - if alert
      .container
        .alert.alert-danger
          = alert
          = button_tag class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' do
            %span{'aria-hidden': true} &times;

    = yield
